MUDUO_REF=b55b0ac
MPRPC_ZK_NAMESPACE=mprpc
ZK_ENDPOINTS=zookeeper:2181
ZK_CONNECT_TIMEOUT_MS=5000
ZK_SESSION_TIMEOUT_MS=30000
RPC_PORT=8000
RPC_IO_THREADS=4
RPC_CONNECT_TIMEOUT_MS=3000
RPC_SEND_TIMEOUT_MS=3000
RPC_RECV_TIMEOUT_MS=5000
MPRPC_LOG_MODE=stdout
MPRPC_LOG_DIR=/var/log/mprpc
