# 1. 忽略所有编译产物和临时文件
/build/
/lib/
*.o
*.a
*.so
a.out

# 2. 忽略运行时产生的可执行文件和日志
# 忽略 bin 目录下的一切，但保留 test.conf
/bin/*
!/bin/test.conf
*.log
*.txt
!CMakeLists.txt

# 3. 忽略 IDE 和环境生成的本地缓存文件
.cache/
compile_commands.json
.vscode/